<div class="container">
  <div id="email-container" [ngClass]="{ hidden: !displayCodeContainer }">
    <div>
      <h2>Enter your email:</h2>
      <small>hint: {{ exampleEmail }}</small>
    </div>
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter Email"
        />
      </div>
      <div id="button-container">
        <button
          type="button"
          class="btn btn-primary"
          (click)="toggleDisplayCodeContainer()"
        >
          Send Code
        </button>
      </div>
    </form>
  </div>
  <div id="code-container" [ngClass]="{ hidden: displayCodeContainer }">
    <div>
      <h2>Insert the verification code:</h2>
      <small>Insert the code that was sent to your email.</small>
    </div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your code" />
      </div>
      <div id="button-container">
        <button type="button" class="btn btn-primary" (click)="loadingTest()">
          Verify
        </button>
      </div>
    </form>
  </div>
  <app-loading></app-loading>
</div>
