.container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a soft shadow */
  border-radius: 10px; /* Rounded corners for the container */
  padding: 20px; /* Inner spacing */
  width: 600px; /* Width for large screens */
  margin: 20px auto; /* Centers the container on the screen */
  background-color: #cadaa9; /* Light background for contrast */
}

button {
  background-color: #48552a;
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Width for small screens */
    margin: 10px auto; /* Reduces top and bottom spacing */
  }
}

#button-container {
  text-align: center; /* Centers the buttons */
  margin-top: 20px; /* Spacing between the button and the fields */
}

@media (max-width: 768px) {
  #button-container {
    margin-top: 10px; /* Reduces top spacing */
  }
}

#newPassword-container input {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold; /* Bold for the title */
  text-align: center; /* Centers the text */
  margin: 0 0 20px 0; /* Adds bottom spacing */
  text-transform: capitalize; /* Capitalizes the first letter */
  color: #333; /* Text color */
}

.d-none {
  display: none; /* Utility class to hide elements */
}

.alert {
  position: fixed; /* Fixed at the top of the screen */
  top: 20px; /* Top margin */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Corrects the alignment */
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  padding: 10px 20px; /* Inner spacing */
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow */
  z-index: 1000; /* Stays above other elements */
  width: auto; /* Auto width */
  max-width: 400px; /* Limits the width */
  text-align: center; /* Centers the text */
}

@media (max-width: 768px) {
  .alert {
    width: 90%; /* Width for small screens */
    margin: 10px auto; /* Reduces top and bottom spacing */
  }
}

app-reset-password-form {
  opacity: 0.5; /* Makes the component semi-transparent */
  z-index: 0; /* Adjusts the stacking */
}

button[disabled] {
  background-color: #48552a;
  opacity: 0.5; /* Reduz a opacidade */
  cursor: not-allowed; /* Mostra o cursor de "proibido" */
}

button:hover {
  background-color: black;
}
