<div class="container">
  <!-- Mensagem de erro (pop-up) -->
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <!-- Email Section -->
  <div id="email-container" [class.d-none]="!displayContainers.emailContainer">
    <div>
      <h2>Enter your email:</h2>
      <small>Hint: {{ exampleEmail }}</small>
    </div>
    <form #emailForm="ngForm" (ngSubmit)="sendCodeViaEmail(email)">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          id="email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter Email"
          [(ngModel)]="email"
          name="email"
          required
          #emailInput="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <div
          *ngIf="emailInput.invalid && emailInput.touched"
          class="text-danger"
        >
          <div *ngIf="emailInput.hasError('required')">Email is required.</div>
          <div *ngIf="emailInput.hasError('pattern')">
            Please enter a valid email address.
          </div>
        </div>
      </div>
      <div id="button-container">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="emailForm.invalid"
        >
          Send Code
        </button>
      </div>
    </form>
  </div>

  <!-- Code Verification Section -->
  <div id="code-container" [class.d-none]="!displayContainers.codeContainer">
    <div>
      <h2>Insert the verification code:</h2>
      <small>Insert the code that was sent to your email.</small>
    </div>
    <form #codeForm="ngForm" (ngSubmit)="verifyCode(verificationCode)">
      <div class="form-group">
        <label for="verificationCode">Verification Code</label>
        <input
          id="verificationCode"
          type="number"
          class="form-control"
          placeholder="Enter your code"
          [(ngModel)]="verificationCode"
          name="verificationCode"
          required
          #codeInput="ngModel"
        />
        <div *ngIf="codeInput.invalid && codeInput.touched" class="text-danger">
          Verification code is required.
        </div>
      </div>
      <div id="button-container">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="codeForm.invalid"
        >
          Verify
        </button>
      </div>
    </form>
  </div>
  <div
    id="newPassword-container"
    [class.d-none]="!displayContainers.newPasswordContainer"
  >
    <div>
      <h2>Insert your new password:</h2>
      <small>
        A secure password must contain at least 8 characters, 1 uppercase
        letter, 1 lowercase letter, 1 number and 1 special character.
      </small>
    </div>
    <form #newPasswordForm="ngForm">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          id="newPassword"
          type="text"
          class="form-control"
          placeholder="Enter your new password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          #newPasswordInput="ngModel"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
        />
        <label for="newPasswordConfirmation">Confirm your new password.</label>
        <input
          id="newPasswordConfirmation"
          type="text"
          class="form-control"
          placeholder="Confirm your new password"
          [(ngModel)]="newPasswordConfirmation"
          name="newPasswordConfirmation"
          required
          #newPasswordConfirmationInput="ngModel"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
        />
        <div
          *ngIf="
            (newPasswordInput.invalid ||
              newPasswordConfirmationInput.invalid) &&
            (newPasswordInput.touched || newPasswordConfirmationInput.touched)
          "
          class="text-danger"
        >
          <div *ngIf="newPasswordInput.hasError('required')">
            New password is required.
          </div>
          <div *ngIf="newPasswordConfirmationInput.hasError('required')">
            New password confirmation is required.
          </div>
          <div *ngIf="newPasswordInput.hasError('pattern')">
            Password must contain at least 8 characters, 1 uppercase letter, 1
            lowercase letter, 1 number and 1 special character.
          </div>
          <div
            *ngIf="
              newPasswordInput.value !== newPasswordConfirmationInput.value
            "
          >
            Password and confirmation do not match.
          </div>
        </div>
      </div>
      <div id="button-container">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="newPasswordForm.invalid"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>

  <!-- Loading Spinner -->
  <app-loading></app-loading>
</div>
