<div class="container">
  <form>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter Username"
        id="usernameInput"
      />
    </div>
    <div class="form-group" id="password-container">
      <div>
        <label for="passwordInput">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          id="passwordInput"
        />
      </div>
      <a href="">Forgot your password?</a>
    </div>
    <div id="button-container">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
