.container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  background-color: #cadaa9;
}
#button-container {
  margin-top: 10px;
  text-align: center;
}
button {
  background-color: #48552a;
  border: none;
}
#password-container {
  display: flex;
  flex-direction: column;
}
.errorMessage {
  margin-top: 10px;
}

.password-toggle {
  position: absolute;
  z-index: 130;
  display: flex;

  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group {
  margin-top: 10px;
  gap: 5px;
}

#logoImage {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
