<div class="container">
  <form (ngSubmit)="login(usernameInput.value, passwordInput.value)">
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input
        type="text"
        class="form-control"
        id="usernameInput"
        #usernameInput
        name="username"
        placeholder="Enter username"
        required
      />
    </div>
    <div class="form-group" id="password-container">
      <div>
        <label for="passwordInput">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          #passwordInput
          name="password"
          placeholder="Enter password"
          required
        />
      </div>
      <a href="">Forgot your password?</a>
    </div>
    <div id="button-container">
      <button type="submit" class="btn btn-dark">Login</button>
    </div>
  </form>
</div>
<app-loading></app-loading>
