<div class="container">
  <img src="images/Logo.png" alt="" id="logoImage" />
  <form
    (ngSubmit)="login(usernameInput.value, passwordInput.value)"
    #loginForm="ngForm"
  >
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input
        type="text"
        class="form-control"
        id="usernameInput"
        name="username"
        [(ngModel)]="username"
        placeholder="Enter username"
        required
        [ngClass]="{
          'is-invalid':
            username && !usernameInput.valid && usernameInput.touched
        }"
        #usernameInput="ngModel"
      />
      <div
        *ngIf="usernameInput.invalid && usernameInput.touched"
        class="invalid-feedback"
      >
        Username is required.
      </div>
    </div>

    <div class="form-group" id="password-container">
      <label for="passwordInput">Password</label>
      <div class="input-group">
        <input
          [type]="passwordFieldType"
          class="form-control"
          id="passwordInput"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter password"
          required
          [ngClass]="{
            'is-invalid':
              password && !passwordInput.valid && passwordInput.touched
          }"
          #passwordInput="ngModel"
        />
        <div class="input-group-append password-toggle">
          <img
            *ngIf="passwordFieldType === 'password'"
            src="images/passwordVisbilityEye.png"
            alt="Show Password"
            width="20"
            (click)="togglePasswordVisibility()"
            style="cursor: pointer"
          />
          <img
            *ngIf="passwordFieldType === 'text'"
            src="images/passwordVisbilityEye.png"
            alt="Hide Password"
            width="20"
            (click)="togglePasswordVisibility()"
            style="cursor: pointer"
          />
          <!-- </span> -->
        </div>
      </div>
      <div
        *ngIf="passwordInput.invalid && passwordInput.touched"
        class="invalid-feedback"
      >
        Password is required.
      </div>
      <!-- <a *ngIf="username" href="/reset-password">Forgot your password?</a> -->
      <a [routerLink]="['/create-user']">New here? Create you user!</a>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger errorMessage">
      {{ errorMessage }}
    </div>

    <div id="button-container">
      <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</div>
<app-loading></app-loading>
