.goal-detailed-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #cadaa9;
}

input,
#goalDescription {
  background-color: #a2ba74;
  border: none;
}

#goalDescription:focus {
  background-color: rgb(255, 255, 255);
}

#button-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

button {
  background-color: #48552a;
  outline: none;
}

.form-group {
  margin-top: 10px;
}
