<div id="history-container">
  <table>
    <thead>
      <tr>
        <th>Contributor Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let contribution of this.goalService.detailedGoal.contributions"
      >
        <td>{{ contribution.contributorName }}</td>
        <td>{{ contribution.amount }}</td>
        <td>{{ contribution.date | date : "dd/MM/yyyy" }}</td>
        <td class="actions">
          <button
            class="btn btn-danger btn-sm btn-remove"
            (click)="deleteContribution(contribution.id)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
