.container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra suave */
  border-radius: 10px; /* Bordas arredondadas para o container */
  padding: 20px; /* Espaçamento interno */
  width: 600px; /* Ajusta a largura para telas grandes */
  margin: 20px auto; /* Centraliza o container na tela */
  background-color: #cadaa9; /* Fundo claro para contraste */
}

button {
  background-color: #48552a;
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Ajusta a largura para telas menores */
    margin: 10px auto; /* Reduz o espaçamento superior e inferior */
  }
}

#button-container {
  text-align: center; /* Centraliza os botões */
  margin-top: 20px; /* Espaçamento entre o botão e os campos */
}

@media (max-width: 768px) {
  #button-container {
    margin-top: 10px; /* Reduz o espaçamento superior */
  }
}

#newPassword-container input {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold; /* Negrito para o título */
  text-align: center; /* Centraliza o texto */
  margin: 0 0 20px 0; /* Adiciona espaçamento inferior */
  text-transform: capitalize; /* Primeira letra maiúscula */
  color: #333; /* Cor do texto */
}

.d-none {
  display: none; /* Classe utilitária para esconder elementos */
}

.alert {
  position: fixed; /* Fixado no topo da tela */
  top: 20px; /* Margem superior */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Corrige o alinhamento */
  background-color: #f8d7da; /* Fundo vermelho claro */
  color: #721c24; /* Texto vermelho escuro */
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #f5c6cb; /* Borda vermelha clara */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 1000; /* Fica acima de outros elementos */
  width: auto; /* Ajusta o tamanho automaticamente */
  max-width: 400px; /* Limita a largura */
  text-align: center; /* Centraliza o texto */
}

@media (max-width: 768px) {
  .alert {
    width: 90%; /* Ajusta a largura para telas menores */
    margin: 10px auto; /* Reduz o espaçamento superior e inferior */
  }
}

input {
  margin-bottom: 10px;
}

button[disabled] {
  background-color: #48552a;
  opacity: 0.5; /* Faz o botão ficar mais transparente */
  cursor: not-allowed; /* Muda o cursor para indicar que o botão está desabilitado */
}

button:hover {
  background-color: black;
}
