<!-- <app-dashboard-page></app-dashboard-page> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-reset-password-page></app-reset-password-page> -->
<!-- <app-create-user-page></app-create-user> -->
<!-- <app-goal-detailed-page></app-goal-detailed-page> -->
<!-- <app-confirm-action-dialog
  [title]="'Delete Item'"
  [message]="'Are you sure you want to delete this item?'"
></app-confirm-action-dialog> -->
<!-- <app-my-profile-page></app-my-profile-page> -->
<!-- <app-progress-bar [goal]="100" [currentAmount]="50"></app-progress-bar> -->
<!-- <app-goal-detailed-card></app-goal-detailed-card> -->
<app-goal-detailed-page></app-goal-detailed-page>
<!-- <app-history-card></app-history-card> -->
<!-- <app-new-contribution-card></app-new-contribution-card> -->
