.image-container {
  position: relative; /* Define o container como referência para posicionamento */
  min-width: 100px; /* Largura do container (opcional) */
  min-height: 100px; /* Altura do container (opcional) */
  width: 30vw;
  height: 30vw;

  /* border: 12px solid #000; Bordas (opcional) */
}

.imageOne,
.imageTwo {
  position: absolute; /* Permite o posicionamento específico dentro do container */
  width: 100%; /* Ajusta a largura da imagem (opcional) */
  height: 100%; /* Mantém a proporção (opcional) */
}

.imageOne {
  z-index: 1; /* Define a ordem da sobreposição */
}

.imageTwo {
  z-index: 2; /* Define a ordem da sobreposição, acima da imagem 1 */
  opacity: 0.8; /* Adiciona transparência (opcional) */
}

#noOpacity {
  opacity: 0;
}
#normalOpacity {
  opacity: 1;
}
