nav {
  /* background-color: #c4dd94; */
  background-color: #48552a;
  z-index: 1000;
  padding: 15px;
  display: flex;
}
.dropdown {
  margin-left: auto;
  display: flex;
}
.dropdown-menu {
  left: auto;
  right: 0; /* Faz o menu alinhar à borda direita do dropdown */
}

button {
  background-color: #48552a;
}

button:hover {
  background-color: #1c2900;
}
