<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="this.userService.currentUser.email"
        required
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="text-danger">
        <small *ngIf="email.errors?.['required']">Email is required.</small>
        <small *ngIf="email.errors?.['email']">Invalid email format.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="this.userService.currentUser.userName"
        required
        #username="ngModel"
      />
      <div *ngIf="username.invalid && username.touched" class="text-danger">
        <small *ngIf="username.errors?.['required']"
          >Username is required.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="userCode">Your User Code:</label>
      <input
        type="text"
        class="form-control"
        id="userCode"
        name="userCode"
        [(ngModel)]="this.userService.currentUser.userCode"
        disabled="true"
        #userCode="ngModel"
      />
      <div *ngIf="userCode.invalid && userCode.touched" class="text-danger">
        <small *ngIf="userCode.errors?.['required']"
          >User code is required.</small
        >
      </div>
    </div>

    <div *ngIf="this.userService.currentUser.pairName" class="form-group">
      <label for="partner">Partner:</label>
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control"
          id="partner"
          name="partner"
          [(ngModel)]="this.userService.currentUser.pairName"
          readonly
          disabled
        />
        <button
          type="button"
          class="btn btn-danger"
          id="button-remove"
          (click)="checkRemovePartner()"
        >
          x
        </button>
      </div>
    </div>

    <div *ngIf="!this.userService.currentUser.pairName" class="form-group">
      <label for="newPartnerCode">New Partner Code:</label>
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control"
          id="PartnerCode"
          name="PartnerCode"
          #PartnerCode
          (input)="(0)"
          aria-describedby="partnerCodeError"
        />
        <button
          type="button"
          class="btn btn-dark ml-2"
          id="button-add"
          (click)="checkAddPartner(PartnerCode.value)"
          [disabled]="!PartnerCode?.value?.length"
        >
          Add
        </button>
      </div>
      <div
        *ngIf="addPartnerErrorMessage"
        id="partnerCodeError"
        class="text-danger mt-2"
      >
        <small>{{ addPartnerErrorMessage }}</small>
      </div>
    </div>

    <div class="form-group" id="accept-button-container">
      <button type="submit" class="btn btn-dark" [disabled]="form.invalid">
        Save Changes
      </button>
    </div>
  </form>
</div>
<app-confirm-action-dialog></app-confirm-action-dialog>
