<div class="container mt-5">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>
    <div *ngIf="hasPartner" class="form-group">
      <label for="partner">Partner:</label>
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control"
          id="partner"
          name="partner"
          [(ngModel)]="partnerName"
          readonly
          disabled
        />
        <button
          type="button"
          class="btn btn-danger"
          id="button-remove"
          (click)="removePartner()"
        >
          x
        </button>
      </div>
    </div>
    <div *ngIf="!hasPartner" class="form-group">
      <label for="newPartnerCode">New Partner Code:</label>
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control"
          id="newPartnerCode"
          name="newPartnerCode"
          [(ngModel)]="newPartnerCode"
          required
        />
        <button
          type="button"
          class="btn btn-dark ml-2"
          id="button-add"
          (click)="addPartner()"
        >
          Add
        </button>
      </div>
    </div>
    <div class="form-group" id="accept-button-container">
      <button type="submit" class="btn btn-dark">Save Changes</button>
    </div>
  </form>
</div>
<app-confirm-action-dialog></app-confirm-action-dialog>
